body {
    background:  white;
}

#board {
    background: grey;
    height: 300px;
    width: 300px;
    margin: auto;
}

#board2 {
    background: lightblue;
    height: 300px;
    width: 300px;
    margin: auto;
}

#board3 {
    background: lightpink;
    height: 300px;
    width: 300px;
    margin: auto;
}

#header1, #header2, #header3{
    visibility: visible;
}

#text1, #text2 {
    visibility: hidden;
    font-size: 25px;
}

#board > h2, #board2 > h2, #board3 > h2 {
    font-size: 50px;
    text-align: center;
    height: 100px;
}

#board3 > img {
    height: 150px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

